    @use '../abstracts/' as *;
    .token-sale {
        max-width: 470px;
        background: $bg-item-2;
        border-radius: 20px;
        padding: 52px 60px 52px 60px;
        height: 492px;
        margin-left: auto;
        margin-top: 40px;

        @include tablet {
            margin-right: auto;
        }

        @include mobile {
            padding: 52px 30px 52px 30px;
        }
    }
    
    .countdown-container {
        position: relative;
        margin-top: 52px;
        padding-right: 25px;
        margin-left: -5px;
        margin-right: -5px;


        .clock-item .inner {
            position: relative;
            width: 100%;
        }
        .clock-canvas {
            border-radius: 50%;
            height: 0px;
            padding-bottom: 100%;
            width: 75px;
            height: 75px;
            canvas {
                border: 1px solid rgba(255, 255, 255,0.149) !important;
                border-radius: 50%;
            }
            @include mobile {
                width: 65px;
                height: 65px;
            }
        
        }
        .number {
            color: #fff;
            font-weight: bold;
            position: absolute;
            top: 19%;
            left: 7px;
            text-align: center;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
            width: 100%;
        }
        .number .val {
            font-size: 24px;
            margin-bottom: 0;
        }
        .unit {
            text-align: center;
            margin-top: 9px;
            .type-time {
                font-size: 14px;
            }
        } 
         @media (min-width: 768px) and (max-width: 991px) {
        .clock-item {
            margin-bottom: 30px;
        }
        }
         @media (max-width: 767px) {
        .clock-item {
            
        }
        }
    }

   
    

    .tf-progress-bar {
        margin-top: 40px;
    }

    .meter {
        background: transparent;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        display: block;
        height: 15px;
        margin-bottom: 15px;
        padding: 2px;
        position: relative;
        border: 2px solid rgba(255, 255, 255,0.149);
        
        > span {
          display: block;
          height: 100%;
          border-top-right-radius: 3px;
          border-bottom-right-radius: 3px;
          border-top-left-radius: 3px;
          border-bottom-left-radius: 3px;
          background-color: #fff;
          position: relative;
          overflow: hidden;
          transition: width 2s ease-out;
        }
    }

    .descrip {
        @include flex(center, space-between);
        span {
            font-family: 'Roboto';
            font-weight: 400;
            color: #beb1de;
        }
        .fs-14 span {
            padding: 0 4px;
        }
        .fs-16 span{
            padding-left: 4px;
        }
    }

    .button-action {
        margin-top: 40px;

        .btn-action {
            padding: 15px 41px;
        }
    }

      
      